.btn {
	border: 0;
	border-radius: 50px;
	color: #FFF;
	padding: 1rem;
}

.btn.--IOS {
	background-color: var(--cor-strong-cyan);
	border-bottom: 3px solid #197e6f;
}
.btn.--MAC {
	background-color: var(--cor-light-blue);
	border-bottom: 3px solid #353f8b;
}

@media (max-width: 1000px) {
	.btn {
		width: 100%;
	}
	.btn.--IOS {
		margin-bottom: 1rem;
	}
}

@media (min-width: 1000px) {
	.buttons {
		display: flex;
		justify-content: center;
	}
	.btn {
		width: 30%;
	}
	.btn.--IOS {
		margin: 0 .8rem 0 0;
	}
}