.contatos {
	background-color: var(--cor-grayish-blue);
	margin-top: 5rem;
	display: flex;
}

.contatos_navigation {
	display: flex;
	margin-top: 2rem;
}

.logo {
	width: 67px;
}

.contatos_navigation a {
	line-height: 3;
	text-decoration: none;
	color: var(--cor-dark-grayish-blue);
	transition: color 200ms linear;
}

.contatos_navigation a:hover {
	color: var(--cor-strong-cyan);
}

.contatos_social {
	margin: 2rem 0;
}


.contatos_social a:nth-child(2) {
	margin: 0 1rem;
}

@media (max-width: 1000px) {
	.logo {
		margin-top: 3rem;
	}

	.contatos {
		flex-direction: column;
		align-items: center;
	}

	.contatos_navigation {
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 1000px) {
	.contatos {
		justify-content: space-around;
		align-items: center;
		height: 200px;
	}

	.contatos_navigation {
		width: 44%;
		flex-wrap: wrap;
	}

	.contatos_navigation a {
		width: 120px;
		margin-right: 3rem;
	}
}